<div class="columns content has-text-centered">
<div class="column"></div>
<div class="column is-one-third">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <% if resource.avatar.attached? %>
      <figure class="image has-text-centered">
        <%= image_tag resource.avatar, :class => 'is-rounded' %>
      </figure>
    <% else %>
      <figure class="image is-128x128">
        <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
      </figure>
    <% end %>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", 
    :class => 'input is-info is-rounded' %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :class => 'input is-info is-rounded'  %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :class => 'input is-info is-rounded' %>
  </div>

  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_field :birthday, :class => 'input is-info is-rounded' %>
  </div>

  <div class="field">
    <%= f.label :height %><br />
    <%= f.number_field :height, :step => 0.01, :class => 'input is-info is-rounded' %>
  </div>

  <div class="field">
    <%= f.label :weight %><br />
    <%= f.number_field :weight, :step => 0.01, :class => 'input is-info is-rounded' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <hr/>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password",
    :class => 'input is-info is-rounded' %>
  </div>

  <div class="actions">
    <%= f.submit "Update", :class => 'button is-primary' %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name),
  data: { confirm: "Are you sure?" }, method: :delete, :class => 'button is-danger'
  %>
</p>

<%= link_to "Back", :back %>
</div>
<div class="column"></div>
</div>