<!DOCTYPE html>
<html>
  <head>
    <title>KaloriaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container is-fullheight">
      <%= render 'layouts/navbar' %>
      <% if notice %>
        <div class="notification is-success">
          <button class="delete"></button>
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="notification is-danger">
          <button class="delete"></button>
          <%= alert %>
        </div>
      <% end %>
        <% if user_signed_in? %>
          <% if current_user.first_name.blank? || current_user.last_name.blank? || current_user.weight.blank? || current_user.height.blank? || current_user.birthday.blank? %>
            <div class="notification is-warning">
            <button class="delete"></button>
            Edita tu perfil para calcular tu IMC
            y puedas compartir a tus amigos <%= link_to 'Edit profile', edit_user_registration_path %> 
            </div>
          <% end %>
        <% end %>
        <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
